<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p021_welcome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo1.DemoAct1" />
        <activity android:name=".demo2.DemoAct2" />
        <activity android:name=".demo3.DemoAct3" />
        <activity android:name=".demo4.DemoAct4" />
        <activity android:name=".demo5.DemoAct5" />
        <activity android:name=".demo6.DemoAct6" />
        <activity android:name=".demo7.DemoAct7" />
    </application>

</manifest>